* {
  scroll-behavior: smooth;
}

body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #0214d8; /*#01def8*/
  font-weight: bold;
}

img {
  max-width: 100%;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: white;
  box-shadow: 0 8px 6px -6px #ccc;
}

nav > a {
  color: #747474;
  font-style: normal !important;
  padding: 1.5rem;
  display: table-cell;
  vertical-align: middle;
  text-decoration: underline;
  -webkit-text-size-adjust: 100%;
}

nav > a > img  {
  height: 70px !important;
  width: 250px !important;
}

.content {
  padding: 1rem;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: #6d6e72 !important;
  text-align: center;
}

.footer > .email {
  color: black !important;
  font-style: italic;
}

.footer > .email > b {
  font-style: normal !important;
  text-decoration: underline;
}


/* Home Screen */
.banner {
  margin-top: 10rem;
  height: auto;
  width: 80%;
}

.description {
  font-size: 100px;
  margin: auto;
  padding-top: 12rem !important;
  padding-bottom: 12rem !important;
  font-style: italic;
}
